body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  padding: 20px;
  max-height: 100vh;
  overflow: hidden;
  background: #222;
}

.active {
  background-image: linear-gradient(270deg, #ff7e5f, #feb47b, #86a8e7, #91eae4);
  background-size: 800% 800%;
  animation: gradientAnimation 20s ease infinite;
  /* animation: gradientShift 20s ease infinite; */
}

.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-wrapper {
  perspective: 1000px;
  width: 350px;
  margin: 40px auto;
  animation: fadeInScale 1.5s ease-in-out;
}

.card {
  position: relative;
  border-radius: 20px;  
  width: 100%;
  height: 450px;
  transform-style: preserve-3d;
  box-shadow: 0 2px 50px rgba(0,0,0,0.8);
  transform: rotateY(0deg);
  transition: transform 0.4s cubic-bezier(0.25, 1.5, 0.5, 1);
}

.card.flipped {
  transform: rotateY(180deg);
}

.card.auto-rotate {
  animation: rotateCard 4s linear;
}

.card:hover {
  transform: rotateY(180deg);
  animation: none; 
}

@keyframes rotateCard {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  background: #333;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-back {
  transform: rotateY(180deg);
  display: flex;
  padding-top: 0px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;  
  align-items: center;
  max-width: 600px;
  width: 90%;
  height: 89%;
  background: #555;
  padding: 30px 20px 20px 20px;
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  gap: 30px;
  animation: fadeIn 1s ease-out;
}

.container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 16px;
}

.name {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 12px;
}

a {
  display: inline-block;
  margin-bottom: 16px;
  color: #126;
  text-decoration: none;
}

.about {
  font-size: 16px;
  color: #ccc;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
    justify-content: center;
    gap: 20px;
  }
  .name {
    font-size: 20px;
  }
  .about {
    font-size: 14px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .card-wrapper:hover .card {
    transform: scale(1.1) rotateY(180deg);
  }
}

.socials {
  margin: 16px 0;
}

.socials a {
  margin: 0 10px;
  color: #444;
  font-size: 24px;
  transition: color 0.3s ease;
}

.socials a:hover {
  color: #007bff;
}

.socials a {
  opacity: 0;
  transform: translateY(10px);
  animation: popUp 0.6s forwards;
}

.socials a:nth-child(1) { animation-delay: 1.4s; }
.socials a:nth-child(2) { animation-delay: 1.6s; }
.socials a:nth-child(3) { animation-delay: 1.8s; }

#quote-text {
  color: #ccc;
  font-size: 18px;
  height:25%;
  text-align: center;
}

.player {
  width: 100%;
  transform: scale(.8);
  margin-top: -20px;
}

button {
  background-color: #ffcc00;
  color: #333;
  cursor: pointer;
  margin: 5px 10px 5px 0;
  padding: 18px;
  border: none;
  border-radius: 25px;
  font-weight: bold;
}



@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes popUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
    background-image: linear-gradient(270deg, #ff7e5f, #feb47b, #86a8e7, #91eae4);
  }
  50% {
    background-position: 100% 50%;
    background-image: linear-gradient(270deg, #86a8e7, #91eae4, #ff7e5f, #feb47b);
  }
  100% {
    background-position: 0% 50%;
    background-image: linear-gradient(270deg, #ff7e5f, #feb47b, #86a8e7, #91eae4);
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
